# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# prject specific files
R/COMPSTAT_Abstract_rdf.pdf
R/jags_kienzle_kc11.txt
R/jags_kienzle_mc.txt
R/mc_kienzleq_abstract.html
R/mc_kienzleq_abstract.log
R/mc_kienzleq_abstract.tex
R/mc_kienzleq_abstract_files/
R/nul
data/
R/jags_kienzle_cont.txt
mc_kienzleq_abstract.pdf

