R/.RData
R/.Rhistory
R/COMPSTAT_Abstract_rdf.pdf
R/jags_kienzle_kc11.txt
R/jags_kienzle_mc.txt
R/mc_kienzleq_abstract.html
R/mc_kienzleq_abstract.log
R/mc_kienzleq_abstract.tex
R/mc_kienzleq_abstract_files/
R/nul
data/
